.App {
  text-align: center;
  font-family: "Helvetica", "Times New Roman", "Tahoma";
}
.App-header {
  display: inline;
  width: 100%;
  height: 400px;
  /*margin: 0px 0px 0px 0px;*/
}
/*.App-logo {
  float: left;
  height: 400px;
  border: 1px solid black;
  padding: 0px 0px 0px 0px;
}*/
.mainlogo {
  float: left;
  /*border: 2px solid black;*/
  background-image: url('./images/SeaSpire_logo2.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 10%;
  top: 3%;
  /*background-color: white;*/
  padding: 0px 0px 0px 0px;
  /*margin-bottom: 30px;*/
  height: 400px;
  width: 200px;
}
.menu {
  width: 100%;
  height: 400px;
  /*background-image: url('./images/sea_menu2.jpg');7
  background-size: contain;
  background-repeat: no-repeat;*/
  /*background-color: #1A6D8F;*/
  /*border: 3px solid black;*/
  vertical-align: middle;
}
.menu li {
  /*padding: 30px;*/
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 150px;
  /*border: 1px solid black;*/
  display: inline-block;
  font-size: 35px;
  color: #1A6D8F;
  position: relative;
  left: 10%;
}
.menu a {
  color: #1A6D8F;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  /*font-weight: bold;*/
}
.mainpic {
  background-image: url('./images/saronic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  border-top: 3px solid white;
}
.dropdown-container {
  display: inline-block;
  position: relative;
  /*cursor: pointer;*/
}
.dropdown-title {
  background-color: #1A6D8F;
  color: #AFBDC5;
  font-size: 30px;
  outline: 0;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 400px;
  z-index: 1;

}
.dropdown-content li {
  display: block;
  position: relative;
  font-size: 30px;
  color: #1A6D8F;
  text-align: center;
  padding: 10px 10px;
  margin: 10px;
  background-color: white;
  cursor: pointer;
}
.dropdown-content ul {
  /*position: relative;*/
  list-style-type: none;
  padding: 0;
}
.dropdown-content li:hover {
  background-color: #AFBDC5;
}
.dropdown-container:hover
.dropdown-content {
    display: block;
}


.site-footer {
  background-color: white;
  height: 400px;
  /*width: 100%;*/
  padding: 20px;
  color: #1A6D8F;
  text-align: center;
  bottom: 0%;
  position: relative;
  /*border: 1px solid black;*/
}
h3 {
  font-size: 20px;
  position: absolute;
  left: 20%;
  top: 50%;
  /*bottom: 10%;*/
  text-align: left;
}
h4 {
  font-size: 20px;
  position: absolute;
  left: 10%;
  bottom: 15%;
}
h5 {
  font-size: 20px;
  color: #AFBDC5;
}
.site-footer img {
  height: 250px;
  position: absolute;
  left: 20%;
  top: 0%;
}
a.linkedin {
  height: 80px;
  width: 80px;
  color: transparent;
  background-image: url('./images/linkedin_logo.png');
  background-size:cover;
  /*display:inline-flex;*/
  cursor: pointer;
  position: absolute;
  margin-left: -20px;
  top: 80%;
  left: 20%;
}
.site-page {
  height: 3800px;
  padding: 20px;
  background-size: cover;
  border: 3px solid white;
  border-top: 0px solid white;
}
.fleet {
  min-height: 900px;
  background-image: url('./images/fleet_test.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #AFBDC5;
  font-size: 50px;
}
/*.fleet_pic {
  background-size: cover;
  width: 100%;
  border: 3px solid black;
}*/
.fleet_text {
  background-color: #1A6D8F;
  height: 400px;
  width: 100%;
  position: relative;
}

.fleet_text strong {
  font-weight: bold;
  font-size: 25px;
  color: #AFBDC5;
  border: 1px solid black;
  position: absolute;
  left: 20%;
  top: 10%;
}
.fleet_text p {
  font-size: 20px;
  color: #AFBDC5;
  border: 1px solid black;
  position: absolute;
  left: 20%;
  top: 15%;
}
.history {
  min-height: 900px;
  background-image: url('./images/ocean_main.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history_text {
  background-color: #1A6D8F;
  height: 400px;
  width: 100%;
  position: relative;
}
.history_text strong {
  font-weight: bold;
  font-size: 25px;
  color: #AFBDC5;
  border: 1px solid black;
  position: absolute;
  left: 20%;
  top: 10%;
}
.history_text p {
  font-size: 20px;
  color: #AFBDC5;
  border: 1px solid black;
  position: absolute;
  left: 20%;
  top: 15%;
}
.other {
  min-height: 800px;
  background-image: url('./images/shipfront.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.other_text {
  background-color: #1A6D8F;
  height: 400px;
  width: 100%;
  position: relative;
}
.other_text strong {
  font-weight: bold;
  font-size: 25px;
  color: #AFBDC5;
  border: 1px solid black;
  position: absolute;
  left: 20%;
  top: 10%;
}
.other_text p {
  font-size: 20px;
  color: #AFBDC5;
  border: 1px solid black;
  position: absolute;
  left: 20%;
  top: 15%;
}
